aiohttp==3.7.4
aniso8601==9.0.0
appdirs==1.4.4
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
distlib==0.3.1
Django==1.11.29
filelock==3.0.12
Flask==1.1.2
Flask-Cache==0.13.1
Flask-Caching==1.9.0
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
fudge==1.1.1
GDAL==3.2.2
geographiclib==1.50
geopy==2.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
MarkupSafe==1.1.1
multidict==5.1.0
musicbrainzngs @ git+git://github.com/spellew/python-musicbrainzngs@a40180fed1b219d90a719ee2b2ec6adecbbb70b1
mutagen==1.45.1
mysqlclient==1.4.6
numpy==1.20.1
protobuf==3.15.6
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
simplejson==3.17.2
six==1.15.0
soundcloud==0.5.0
soundcloud-lib==0.5.4
soupsieve==2.2
spotipy==2.16.1
SQLAlchemy==1.3.16
sqlparse==0.4.1
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.2
Werkzeug==1.0.1
yarl==1.6.3
